@font-face {
  font-family: 'docker';
  src: local("docker-one"), 
  url("/fonts/docker-one.ttf") format("truetype"),
  url('/fonts/docker-one.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Regular.ttf");
  src: local("Montserrat-Regular"), 
  url("/fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-ExtraBold.ttf");
  src: local("Montserrat-ExtraBold"), 
  url("/fonts/Montserrat-ExtraBold.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

* {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

h1, h2, h3, p, ul, li, a {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

body {
  position: relative;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.background-fill {
  position: absolute;
  right: 0;
  top: 177px;
  z-index: -1;
}

.background-hand {
  position: absolute;
  right: 0;
  top: 203px;
  z-index: -1;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 200px;
  margin-right: 160px;
  padding-top: 82px;
  padding-bottom: 203px;
  position: relative;
  z-index: 1;
}
.header__list {
  display: flex;
}

.header__list-item:not(:last-child) {
  margin-right: 30px;
}

.header__link {
  font-size: 52px;
  line-height: 1.2;
  color: #002e43;
}

.hero {
  margin-left: 193px;
  padding-bottom: 229px;
}

.heading {
  font-family: 'docker';
  font-size: 96px;
  line-height: 1.2;
  color: #002e43;
  font-weight: 400;
  max-width: 880px;
}

.hero__text {
  font-size: 50px;
  line-height: 66px;
  max-width: 1080px;
}

.main {
  display: flex;
  margin-left: 631px;
  margin-right: 164px;
  margin-bottom: -150px;
  align-items: center;
  justify-content: space-between;
}

.main__heading {
  max-width: 900px;
}

.main__text {
 font-size: 60px;
 line-height: 1;
 max-width: 900px;
}

.info {
  background-color: #002e43;
  /*height: 317px;*/
  margin-bottom: 206px;
}

.info__text {
  text-transform: uppercase;
  color: #c0fd00;
  font-size: 56px;
  line-height: 1.2;
  margin: 0 125px;
}

.info__text-bold {
  font-weight: 900;
}

.info__text-thin {
  font-weight: 400;
}

.decisions__heading {
  margin-left: auto;
  text-align: center;
  margin-right: auto;
  margin-bottom: 212px;
}

.decisions {
  margin-left: 493px;
  margin-right: 380px;
  margin-bottom: 245px;
}

.decisions__block {
  display: flex;
  justify-content: space-between;
}

.decisions__card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__img {
  margin-bottom: 100px;
}

.card__text {
  font-size: 48px;
line-height: 1.2;
font-weight: 400;
color: #002e43;
}

.contactUs {
  padding-bottom: 393px;
  padding-top: 160px;
  background-image: url("/img/bottom_fill.png");
  background-size: cover;
  background-repeat: no-repeat;
}


.contactUs__form {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  /*width: 850px;*/
  width: 1092px;
}

.contactUs__name, .contactUs__phone {
  margin-bottom: 80px;
  height: 160px;
}

.contactUs__name, .contactUs__phone, .contactUs__text {
  width: 850px;
  border-radius: 80px;
  border: 5px solid #000000;
  box-shadow: inset 0px 6px 30px 0px rgba(0,0,0,0.69);
  font-size: 48px;
  line-height: 1.2;
  font-weight: 100;
  color: #002e43;
  padding-left: 65px;
}

.contactUs__text {
  padding-top: 66px;
  height: 324px;
  margin-right: 78px;
}

.contactUs__block {
  display: flex;
  align-items: flex-end;
}

.contactUs__img {
  height: 130px;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 57px;
  max-width: 1967px;
  font-size: 32px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #002e43;
}